
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Usamos BOXIcons -->
    <!-- <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    

    <title>CRUD</title>
    <style>
      
      section{
        margin-left: 1%;
        margin-right: 3%;
        padding: 30px;
      }
      
      nav{
        padding: 30px;
        background-color: rgb(218, 210, 210);
      }
        #user{
            width: 95%;
            text-align: center;
            
        }
        #edit{
          margin-top: 3px;
        }
        .navbar-brand{
          font-weight: bold;
        }
        table th{
          background-color: #337ab7 !important;
          color: white;
        }
        table>tbody>tr>td{
          vertical-align: middle !important;
        }
        .btn-group-verticalp{
          position: absolute !important;
        }
        #logout{
          text-decoration: none;
          right: 1%;
          position: absolute;
          margin-top: 9px;
        }
        #mapaChaco{
          margin-top: 7px;
          margin-left: 5px;
          font-weight: bold;
        }
        .callP{
          margin-left: 5px;
          margin-top: 5px;
        }
        .callT{
          color: #0A58CA;
          font-weight: bold;
        }
        .valorC{
          background-color: #ccc5c5;
          border-radius: 7px;
          margin-right: 5px;
        }           
    </style>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav> -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand">Konecta</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="callP">
          <label for="callT" class="callT">CALL</label>
                  <select name="call" id="call" class="call" aria-label="Default select example">                      
                      <option value="calla" selected>Call A</option>
                      <option value="callb" selected>Call B</option>                      
                  </select>
                  <button class="valorC">Buscar</button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="mapaChaco" aria-current="page" href="/chaco/chacoCallB-invitado.html">Mapa Chaco</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="mapaChaco" aria-current="page" href="/coboba/cordobaCall.html">Mapa Cordóba</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="mapaChaco" aria-current="page" href="#">Mapa Cordóba SM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="mapaChaco" aria-current="page" href="#">Mapa Rosario</a>
              </li>
              <li class="nav-item">                
                <a href="logout" id="logout" class="btn btn-outline-info"><i class="fas fa-sign-out-alt"></i></a>
              </li>              
            </ul>           
          </div>
        </div>
      </nav>

      <!-- <div class="container">
          <a href="/mapa.html" class="btn btn-outline-primary mt-4"><i class='bx bx-sitemap'></i></a>
      </div> -->
  <section>    
    <table id="user" class="table table-bordered table-striped text-center mt-4 " >
        <thead class="bg-primary text-white">
            <th scope="col">BOX</th>
            <th scope="col">JORNADA</th>
            <th scope="col">ESTADO PC</th>
            <th scope="col">OBLEA PC</th>
            <th scope="col">DNI</th>
            <th scope="col">AGENTE</th>
            <th scope="col">INGRESO</th>
            <th scope="col">EGRESO</th>
            <th scope="col">LIDER</th>
            <th scope="col">JEFE</th>
            <th scope="col">SITE</th>
            <th scope="col">SERVICIO</th>
            <th scope="col">MODALIDAD</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>  
    
  </section>  
  
    <!-- DataTables -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <!-- Botons y extenciones DataTable -->
    <script src="/DataTables/Buttons-2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <!-- <script src="/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script> -->
    <script src="/DataTables/Buttons-2.0.1/js/buttons.html5.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script >

      const boton = document.querySelector('.valorC');
      let valor = "callb";
      
      boton.onclick = ()=>{
        
        const call = document.getElementById('call').value

        
        valor = call;
        console.log(valor)
      
      


      $(document).ready(function() {
        $('#user').DataTable({
          destroy:true,
          ajax:{
            url:`/data/${valor}`,
            dataSrc:""
          },
          columns:[
            {data: "box"},
            {data: "jornada"},
            {data: "estadoPc"},
            {data: "obleaPc"},
            {data: "DNI"},
            {data: "nombre"},
            {data: "ingreso"},
            {data: "egreso"},
            {data: "lider"},
            {data: "jefe"},
            {data: "sitio"},
            {data: "servicio"},
            {data: "modalidadTT"}            
          ],
          pageLength: 10,
          lengthMenu:[[10,20,50,100,-1],[10,20,50,100,'Todos']],
          
          //Dar lenguaje a Datatables
          "language": {
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encuentran resultados",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando resgistros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrando de un total de _MAX_ registros)",
            "sSearch":"Buscar:",
            "oPaginate":{
              "sFirst":"Primero",
              "sLast":"Ultimo",
              "sNext":"Siguiente",
              "sPrevious":"Anterior"
            },
            "sProcessing":"Procesando..."
          },

          responsive: "true",
          dom: '<"row"<"col-sm-20 col-md-2"l><"col-sm-12 col-md-6"<"dt-buttons btn-group flex-wrap"B>><"col-sm-12 col-md-4"f>>t<"row"<"col-sm-12 col-md-4"i><"col-sm-12 col-md-6"p>>',
          buttons:[
            {
              extend:'excelHtml5',
              text: '<i id="excel" class="fas fa-file-excel"></i>',
              titleAttr:'Exportar a Excel',
              className: 'btn btn-success'
            }
                    
          ],

        });
      } );
    }


    </script>
    
  </body>
</html>