body{
    background-image: linear-gradient(30deg,rgb(56, 177, 224),rgb(207, 7, 207));
    /* background-size: cover; */
    background-attachment: fixed;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
*{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.section-login{
    grid-column: 2/3;
    
}
.conteiner{
    width: 350px;
    height: 350px;
    background-color: white;
    margin-top: 150px;
    margin-left: 15%;    
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    
    
}
.form{
    padding: 3px;
}
h2{
    text-align: center;
    font-size: 40px;
    
}
input[type="text"],
input[type="password"]{
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
    margin-left: 9%;
    outline: none;
}
.linea{
    width: 288px;
    height: 3px;    
    margin-left: 8%;
    background-image: linear-gradient(30deg,rgb(56, 177, 224),rgb(207, 7, 207));
}
.eyes{
    margin-left: 22px;
    margin-top: 10px;
    margin-bottom: -13px;
}
.ver{
    font-size: 12px;
}
.button{
    width: 288px;
    height: 30px;
    margin: 8%;
    margin-left: 8%;
    background-image: linear-gradient(30deg,rgb(56, 177, 224),rgb(207, 7, 207));
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    
}
.button2{
    width: 288px;
    height: 30px;
    margin-left: 8%;
    background-image: linear-gradient(30deg,rgb(56, 177, 224),rgb(207, 7, 207));
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: -10px;
}
.button:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}
.button2:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}
.button3:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}