.vam{
    position: absolute;
    left: 60px;
    width: 200px;
    height: 150px;
    margin-top: 50px;
}
.conteiner2{
    background-color: rgb(224, 222, 222);
    outline: 2px solid #000;
    margin: 10px;
    width: 100%;
    height: 35%;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(28, 1fr);
    gap: 2px;
}
.elementA{
    font-size: 9px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;   
    padding-top: 3px;
}
.staffA{    
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
.elementA1{
    background-color: rgb(21, 9, 134);
    grid-column: 1/3;
    grid-row: 1/29;
    padding-top: 260px;
    font-size: 13px;
}
/* Columna 6/8 */
.elementA5{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 3/4;
}
.elementA6{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 4/5;
}
.elementA7{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 5/6;
}
.elementA8{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 6/7;
}
.elementA9{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 7/8;
}
.elementA10{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 8/9;
}
.elementA11{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 9/10;
}
.elementA12{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 10/11;
}
.elementA13{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 11/12;
}
.elementA14{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 12/13;
}
.elementA15{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 13/14;
}
.elementA276{
    background-color: rgb(18, 27, 155);
    grid-column: 6/8;
    grid-row: 14/15;
}
.elementA275{
    background-color: rgb(18, 27, 155);
    grid-column: 6/8;
    grid-row: 15/16;
}
.elementA16{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 16/17;
}
.elementA17{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 17/18;
}
.elementA18{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 18/19;
}
.elementA19{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 19/20;
}
.elementA20{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 20/21;
}
.elementA21{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 21/22;
}
.elementA22{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 22/23;
}
.elementA23{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 23/24;
}
.elementA24{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 24/25;
}
.elementA25{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 25/26;
}
.elementA26{
    background-color: rgb(128, 16, 16);
    grid-column: 6/8;
    grid-row: 26/27;
}
/* Columna 8/10 */
.elementA48{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 3/4;
}
.elementA47{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 4/5;
}
.elementA46{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 5/6;
}
.elementA45{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 6/7;
}
.elementA44{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 7/8;
}
.elementA43{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 8/9;
}
.elementA42{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 9/10;
}
.elementA41{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 10/11;
}
.elementA40{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 11/12;
}
.elementA39{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 12/13;
}
.elementA38{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 13/14;
}
.elementA274{
    background-color: rgb(18, 27, 155);
    grid-column: 8/10;
    grid-row: 14/15;
}
.elementA273{
    background-color: rgb(18, 27, 155);
    grid-column: 8/10;
    grid-row: 15/16;
}
.elementA37{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 16/17;
}
.elementA36{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 17/18;
}
.elementA35{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 18/19;
}
.elementA34{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 19/20;
}
.elementA33{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 20/21;
}
.elementA32{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 21/22;
}
.elementA31{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 22/23;
}
.elementA30{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 23/24;
}
.elementA29{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 24/25;
}
.elementA28{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 25/26;
}
.elementA27{
    background-color: rgb(128, 16, 16);
    grid-column: 8/10;
    grid-row: 26/27;
}
/* Columna 12/14 */
.elementA49{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 3/4;
}
.elementA50{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 4/5;
}
.elementA51{
    background-color: rgb(128, 70, 16);
    grid-column: 12/14;
    grid-row: 5/6;
}
.elementA52{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 6/7;
}
.elementA53{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 7/8;
}
.elementA54{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 8/9;
}
.elementA55{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 9/10;
}
.elementA56{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 10/11;
}
.elementA57{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 11/12;
}
.elementA58{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 12/13;
}
.elementA59{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 13/14;
}
.elementA272{
    background-color: rgb(18, 27, 155);
    grid-column: 12/14;
    grid-row: 14/15;
}
.elementA271{
    background-color: rgb(18, 27, 155);
    grid-column: 12/14;
    grid-row: 15/16;
}
.elementA60{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 16/17;
}
.elementA61{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 17/18;
}
.elementA62{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 18/19;
}
.elementA63{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 19/20;
}
.elementA64{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 20/21;
}
.elementA65{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 21/22;
}
.elementA66{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 22/23;
}
.elementA67{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 23/24;
}
.elementA68{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 24/25;
}
.elementA69{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 25/26;
}
.elementA70{
    background-color: rgb(128, 16, 16);
    grid-column: 12/14;
    grid-row: 26/27;
}
/* Columna 14/16 */
.elementA92{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 3/4;
}
.elementA91{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 4/5;
}
.elementA90{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 5/6;
}
.elementA89{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 6/7;
}
.elementA88{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 7/8;
}
.elementA87{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 8/9;
}
.elementA86{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 9/10;
}
.elementA85{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 10/11;
}
.elementA84{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 11/12;
}
.elementA83{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 12/13;
}
.elementA82{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 13/14;
}
.elementA269{
    background-color: rgb(18, 27, 155);
    grid-column: 14/16;
    grid-row: 14/15;
}
.elementA270{
    background-color: rgb(18, 27, 155);
    grid-column: 14/16;
    grid-row: 15/16;
}
.elementA81{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 16/17;
}
.elementA80{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 17/18;
}
.elementA79{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 18/19;
}
.elementA78{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 19/20;
}
.elementA77{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 20/21;
}
.elementA76{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 21/22;
}
.elementA75{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 22/23;
}
.elementA74{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 23/24;
}
.elementA73{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 24/25;
}
.elementA72{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 25/26;
}
.elementA71{
    background-color: rgb(128, 16, 16);
    grid-column: 14/16;
    grid-row: 26/27;
}
/* Columna 18/20 */
.elementA93{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 3/4;
}
.elementA94{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 4/5;
}
.elementA95{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 5/6;
}
.elementA96{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 6/7;
}
.elementA97{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 7/8;
}
.elementA98{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 8/9;
}
.elementA99{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 9/10;
}
.elementA100{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 10/11;
}
.elementA101{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 11/12;
}
.elementA102{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 12/13;
}
.elementA103{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 13/14;
}
.elementA268{
    background-color: rgb(18, 27, 155);
    grid-column: 18/20;
    grid-row: 14/15;
}
.elementA267{
    background-color: rgb(18, 27, 155);
    grid-column: 18/20;
    grid-row: 15/16;
}
.elementA104{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 16/17;
}
.elementA105{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 17/18;
}
.elementA106{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 18/19;
}
.elementA107{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 19/20;
}
.elementA108{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 20/21;
}
.elementA109{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 21/22;
}
.elementA110{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 22/23;
}
.elementA111{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 23/24;
}
.elementA112{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 24/25;
}
.elementA113{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 25/26;
}
.elementA114{
    background-color: rgb(128, 16, 16);
    grid-column: 18/20;
    grid-row: 26/27;
}
/* Columna 20/22 */
.elementA136{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 3/4;
}
.elementA135{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 4/5;
}
.elementA134{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 5/6;
}
.elementA133{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 6/7;
}
.elementA132{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 7/8;
}
.elementA131{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 8/9;
}
.elementA130{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 9/10;
}
.elementA129{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 10/11;
}
.elementA128{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 11/12;
}
.elementA127{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 12/13;
}
.elementA126{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 13/14;
}
.elementA265{
    background-color: rgb(18, 27, 155);
    grid-column: 20/22;
    grid-row: 14/15;
}
.elementA266{
    background-color: rgb(18, 27, 155);
    grid-column: 20/22;
    grid-row: 15/16;
}
.elementA125{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 16/17;
}
.elementA124{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 17/18;
}
.elementA123{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 18/19;
}
.elementA122{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 19/20;
}
.elementA121{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 20/21;
}
.elementA120{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 21/22;
}
.elementA119{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 22/23;
}
.elementA118{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 23/24;
}
.elementA117{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 24/25;
}
.elementA116{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 25/26;
}
.elementA115{
    background-color: rgb(128, 16, 16);
    grid-column: 20/22;
    grid-row: 26/27;
}
/* Columna 24/26 */
.elementA137{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 3/4;
}
.elementA138{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 4/5;
}
.elementA139{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 5/6;
}
.elementA140{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 6/7;
}
.elementA141{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 7/8;
}
.elementA142{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 8/9;
}
.elementA143{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 9/10;
}
.elementA144{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 10/11;
}
.elementA145{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 11/12;
}
.elementA146{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 12/13;
}
.elementA147{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 13/14;
}
.elementA264{
    background-color: rgb(18, 27, 155);
    grid-column: 24/26;
    grid-row: 14/15;
}
.elementA263{
    background-color: rgb(18, 27, 155);
    grid-column: 24/26;
    grid-row: 15/16;
}
.elementA148{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 16/17;
}
.elementA149{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 17/18;
}
.elementA150{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 18/19;
}
.elementA151{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 19/20;
}
.elementA152{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 20/21;
}
.elementA153{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 21/22;
}
.elementA154{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 22/23;
}
.elementA155{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 23/24;
}
.elementA156{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 24/25;
}
.elementA157{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 25/26;
}
.elementA158{
    background-color: rgb(128, 16, 16);
    grid-column: 24/26;
    grid-row: 26/27;
}
/* Columna 26/28 */
.elementA180{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 3/4;
}
.elementA179{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 4/5;
}
.elementA178{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 5/6;
}
.elementA177{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 6/7;
}
.elementA176{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 7/8;
}
.elementA175{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 8/9;
}
.elementA174{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 9/10;
}
.elementA173{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 10/11;
}
.elementA172{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 11/12;
}
.elementA171{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 12/13;
}
.elementA170{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 13/14;
}
.elementA261{
    background-color: rgb(18, 27, 155);
    grid-column: 26/28;
    grid-row: 14/15;
}
.elementA262{
    background-color: rgb(18, 27, 155);
    grid-column: 26/28;
    grid-row: 15/16;
}
.elementA169{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 16/17;
}
.elementA168{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 17/18;
}
.elementA167{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 18/19;
}
.elementA166{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 19/20;
}
.elementA165{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 20/21;
}
.elementA164{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 21/22;
}
.elementA163{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 22/23;
}
.elementA162{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 23/24;
}
.elementA161{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 24/25;
}
.elementA160{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 25/26;
}
.elementA159{
    background-color: rgb(128, 16, 16);
    grid-column: 26/28;
    grid-row: 26/27;
}
/* Columna 30/32 */
.elementA181{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 3/4;
}
.elementA182{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 4/5;
}
.elementA183{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 5/6;
}
.elementA184{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 6/7;
}
.elementA185{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 7/8;
}
.elementA186{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 8/9;
}
.elementA187{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 9/10;
}
.elementA188{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 10/11;
}
.elementA189{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 11/12;
}
.elementA190{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 12/13;
}
.elementA191{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 13/14;
}
.elementA260{
    background-color: rgb(18, 27, 155);
    grid-column: 30/32;
    grid-row: 14/15;
}
.elementA259{
    background-color: rgb(18, 27, 155);
    grid-column: 30/32;
    grid-row: 15/16;
}
.elementA192{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 16/17;
}
.elementA193{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 17/18;
}
.elementA194{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 18/19;
}
.elementA195{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 19/20;
}
.elementA196{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 20/21;
}
.elementA197{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 21/22;
}
.elementA198{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 22/23;
}
.elementA199{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 23/24;
}
.elementA200{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 24/25;
}
.elementA201{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 25/26;
}
.elementA202{
    background-color: rgb(128, 16, 16);
    grid-column: 30/32;
    grid-row: 26/27;
}
/* Columna 32/34 */
.elementA224{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 3/4;
}
.elementA223{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 4/5;
}
.elementA222{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 5/6;
}
.elementA221{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 6/7;
}
.elementA220{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 7/8;
}
.elementA219{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 8/9;
}
.elementA218{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 9/10;
}
.elementA217{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 10/11;
}
.elementA216{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 11/12;
}
.elementA215{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 12/13;
}
.elementA214{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 13/14;
}
.elementA257{
    background-color: rgb(18, 27, 155);
    grid-column: 32/34;
    grid-row: 14/15;
}
.elementA258{
    background-color: rgb(18, 27, 155);
    grid-column: 32/34;
    grid-row: 15/16;
}
.elementA213{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 16/17;
}
.elementA212{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 17/18;
}
.elementA211{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 18/19;
}
.elementA210{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 19/20;
}
.elementA209{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 20/21;
}
.elementA208{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 21/22;
}
.elementA207{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 22/23;
}
.elementA206{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 23/24;
}
.elementA205{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 24/25;
}
.elementA204{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 25/26;
}
.elementA203{
    background-color: rgb(128, 16, 16);
    grid-column: 32/34;
    grid-row: 26/27;
}
/* Columna 36/38 */
.elementA225{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 3/4;
}
.elementA226{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 4/5;
}
.elementA227{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 5/6;
}
.elementA228{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 6/7;
}
.elementA229{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 7/8;
}
.elementA230{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 8/9;
}
.elementA231{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 9/10;
}
.elementA232{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 10/11;
}
.elementA233{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 11/12;
}
.elementA234{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 12/13;
}
.elementA235{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 13/14;
}
.elementA256{
    background-color: rgb(18, 27, 155);
    grid-column: 36/38;
    grid-row: 14/15;
}
.elementA255{
    background-color: rgb(18, 27, 155);
    grid-column: 36/38;
    grid-row: 15/16;
}
.elementA236{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 16/17;
}
.elementA237{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 17/18;
}
.elementA238{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 18/19;
}
.elementA239{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 19/20;
}
.elementA240{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 20/21;
}
.elementA241{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 21/22;
}
.elementA242{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 22/23;
}
.elementA243{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 23/24;
}
.elementA244{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 24/25;
}
.elementA245{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 25/26;
}
.elementA246{
    background-color: rgb(128, 16, 16);
    grid-column: 36/38;
    grid-row: 26/27;
}
/* Columna 38/40 */
.elementA254{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 19/20;
}
.elementA253{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 20/21;
}
.elementA252{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 21/22;
}
.elementA251{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 22/23;
}
.elementA250{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 23/24;
}
.elementA249{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 24/25;
}
.elementA248{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 25/26;
}
.elementA247{
    background-color: rgb(128, 16, 16);
    grid-column: 38/40;
    grid-row: 26/27;
}
.elementA2{
    background-color: rgb(33, 153, 233);
    grid-column: 40/41;
    grid-row: 19/29;
    font-size: 8px;
    padding-top: 80px;
}
.elementA3{
    background-color: rgb(33, 153, 233);
    grid-column: 38/41;
    grid-row: 1/3;
    font-size: 10px;
    padding-top: 10px;    
}
.elementA4{
    background-color: rgb(33, 153, 233);
    grid-column: 38/41;
    grid-row: 3/19;
    font-size: 10px;
    padding-top: 135px;  
}